PORT=8000
AZURE_SUBSCRIPTION_KEY1_WABOT=""
AZURE_SERVICE_REGION_WABOT=""
MY_NUMBER=""
SENDERS_DATA='{
    "34600123456":"contact name 1",
    "34666666666":"contact name 2",
    "120643160757877045":"group name 1",
    "120363026898765720":"group name 2"
}'
